<div class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">

        {{list.name}}


        <button type="button" class="btn btn-info"

                (click)="deleteList(list._id)"

                aria-label="Right Align">
          <span class="glyphicon glyphicon-remove-sign"></span>
        </button>
      </h3>
    </div>

    <div class="panel-body">
      <!--Progressbar-->
      <!--<div class="row">-->
        <!--<div class="progress" style="width: 92%; margin: 0 auto 10px auto;">-->
          <!--<div class="progress-bar progress-bar-success"-->
               <!--[ngStyle]="{'width.%': completedPercent}">-->
          <!--</div>-->
          <!--<div class="progress-bar progress-bar-danger"-->
               <!--[ngStyle]="{'width.%': 100 - completedPercent}">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--Progressbar-->

      <!--Задачи-->
      <app-task *ngFor="let task of tasks" [task]="task"></app-task>
      <!--задачи-->

      <!--Добавление задачи-->
      <app-task-addform [listId]="list._id"></app-task-addform>
      <!--Добавление задачи-->

    </div>
  </div>
</div>
