<div class="input-group notice">
    <span class="input-group-addon" id="tasks-addonName">Задача:</span>
    <input type="text" class="form-control"
           [ngModelOptions]="{standalone: true}"
           [(ngModel)]="task"
           #newTask="ngModel"
           [ngClass]="{'alert-success': newTask.valid, 'alert-danger': !newTask.valid }"
           pattern=".{0,}\w{3,}.{0,}"
           (keyup.enter)="addTask(newTask.value)"
           placeholder="Новая Задача">
</div>
