

<div class="notice"
     [ngClass]="{'notice-success': task.status, 'notice-info': !task.status }">
  <div class="row">

    <div class="col-md-7">
      <span>

        {{task.name}}

      </span>
    </div>


    <div class="col-md-5">

      <button type="button" class="btn btn-success"
              (click)="switchTaskStatus(task)"
              aria-label="Left Align">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
      </button>


      <button type="button" class="btn btn-danger"
              (click)="deleteTask(task._id)"
              aria-label="Right Align">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
      </button>

    </div>
  </div>
</div>
