<div class="container">
  <div class="row head">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div type="addform" class="col-md-4 input-group panel-heading"></div>
      </div>
    </div>
  </div>

  <div class="row">

    <app-list *ngFor="let list of lists" [list]="list"></app-list>


  </div>

</div>
